<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div
        class="navbar"
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <div class="logo" style="display: flex; align-items: center">
          <img
            src="assets/gambar/uzumaki.png"
            alt="Uzumaki"
            style="height: 40px; width: 40px"
          />
          <b style="margin-left: 10px"
            >El<span style="color: red">fata.</span></b
          >
        </div>

        <ion-button fill="clear" slot="end">
          <ion-icon name="menu" style="color: black"></ion-icon>
        </ion-button>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="hero" style="align-items: start; margin: 5px 20px">
    <h2 style="font-weight: 900; margin: 0; margin-top: 40px">Halo,</h2>
    <p style="font-size: 30px; font-weight: 900; margin: 0">
      Saya
      <span style="color: red">Luthfi Emillulfata</span>
    </p>
    <u
      ><i><h3 style="margin: 0; margin-top: 5px">NIM H1D022017</h3></i></u
    >

    <p style="text-align: center">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus
      aspernatur, esse quod ullam saepe natus ipsam, nisi provident, quae
      voluptatibus cupiditate quas quia culpa error tempore nesciunt. Eveniet,
      nulla porro.
    </p>

    <ion-button
      shape="round"
      style="
        display: flex;
        justify-content: center;
        margin-top: 20px;
        color: white;
      "
    >
      Unduh CV
    </ion-button>
  </div>
  <br />

  <div class="about-me">
    <ion-card>
      <img alt="Silhouette of mountains" src="assets/gambar/luthfi.jpg" />
      <ion-card-header>
        <ion-card-title>About Me</ion-card-title>
        <ion-card-subtitle>Luthfi Emillulfata</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Here's a small text description for the card content. Nothing more,
        nothing less.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
